.auth-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 15px;
}

.auth-container h1{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #e94560;
}

.auth-container input{
    padding: 0.75rem 1rem;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    outline: none;
}

.auth-container button{
    padding: 0.75rem 1rem;
    width: 300px;
    border-radius: 5px;
    border: none;
    background-color: #e94560;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.auth-container p{
    font-size: 1rem;
}

.auth-container a{
    color: #e94560;
    text-decoration: none;
}